{% extends "layout.html" %}


{% block body %}

<h3>about us</h3>
<hr>

<p>
        Hello to everyone. I am Mustafa Murat Coşkun. Software Science channel youth who want to learn programming and software to be useful to developers, but also the software in Turkey and tried to educational promotion in order to upload videos as I could until kurdum.şimdi by April 10, 2015. My goal in this online channel Software converts it to a general science academies of Turkey's four corners to give a free form of education. As youth of our country, let's try to instill software and science together. Are you in?
</p>
{% endblock body %}
